<aside id="left-panel">

    <!-- User info -->
    <div login-info></div>
    <!-- end user info -->

    <nav>
        <!-- NOTE: Notice the gaps after each icon usage <i></i>..
        Please note that these links work a bit different than
        traditional href="" links. See documentation for details.
        -->

        <ul data-smart-menu>



            <li data-menu-collapse class="top-menu-invisible">
                <a href="#"><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i> <span class="menu-item-parent">教职员工</span></a>
                <ul>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.smartAdmin.appLayouts">
                            个人资料</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.rentalApplication">
                            租房申请</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.smartAdmin.prebuiltSkins">
                            我的租产</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.smartAdmin.prebuiltSkins">
                            资费缴纳</a>
                    </li>
                </ul>
            </li>

            <li data-menu-collapse>
                <a href="#"><i class="fa fa-lg fa-fw fa-bar-chart-o"></i> <span class="menu-item-parent">房屋资产管理员</span></a>
                <ul>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.house.global">
                            房屋总览</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.smartAdmin.appLayouts">
                            审批管理</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.smartAdmin.appLayouts">
                            报表管理</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.smartAdmin.prebuiltSkins">
                            数据备份</a>
                    </li>
                </ul>
            </li>


            <li data-menu-collapse>
                <a href="#"><i class="fa fa-lg fa-fw fa-table"></i> <span
                        class="menu-item-parent">财务管理员</span></a>
                <ul>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.smartAdmin.appLayouts">
                            财务统计</a>
                    </li>
                </ul>
            </li>


            <li data-menu-collapse>
                <a href="#"><i class="fa fa-lg fa-fw fa-gear"></i> <span
                        class="menu-item-parent">系统管理员</span></a>
                <ul>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.smartAdmin.appLayouts">
                            权限管理</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.smartAdmin.appLayouts">
                            角色管理</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.smartAdmin.appLayouts">
                            用户管理</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.smartAdmin.appLayouts">
                            服务器监控</a>
                    </li>
                </ul>
            </li>

            <li data-menu-collapse>
                <a href="#"><i class="fa fa-lg fa-fw fa-gear"></i> <span
                        class="menu-item-parent">杂项页面</span></a>
                <ul>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.smartAdmin.appLayouts">
                            房屋详情</a>
                    </li>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.smartAdmin.appLayouts">
                            人员详情</a>
                    </li>
                </ul>
            </li>



        </ul>

        <!-- NOTE: This allows you to pull menu items from server -->
        <!-- <ul data-smart-menu-items="/api/menu-items.json"></ul> -->
    </nav>

  <span class="minifyme" data-action="minifyMenu" minify-menu>
    <i class="fa fa-arrow-circle-left hit"></i>
  </span>

</aside>