<div id="content">
    <div id="content" data-sparkline-container data-easy-pie-chart-container>
        <div class="row">
            <big-breadcrumbs items="['教职员工', '个人资料']" icon="file-o"
            class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
            <div smart-include="app/layout/partials/sub-header.tpl.html"></div>
        </div>
        <!-- Widget ID (each widget will need unique ID)-->
        <div jarvis-widget id="wid-id-1" data-widget-editbutton="false" data-widget-custombutton="false">
<!-- widget options:
    usage: <div jarvis-widget id="wid-id-0" data-widget-editbutton="false">
    
    data-widget-colorbutton="false" 
    data-widget-editbutton="false"
    data-widget-togglebutton="false"
    data-widget-deletebutton="false"
    data-widget-fullscreenbutton="false"
    data-widget-custombutton="false"
    data-widget-collapsed="true" 
    data-widget-sortable="false"
    
-->
<header>
    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>

    <h2>Checkout Form </h2>

</header>

<!-- widget div-->
<div>


    <!-- widget content -->
    <div class="widget-body no-padding">

        <div data-smart-include="app/rental-application/views/form-layout/personalInfoForm.html"></div>


    </div>
    <!-- end widget content -->

</div>
<!-- end widget div -->
</div>

<!-- content -->

</div>
