<div id="content">
<div class="row">
    <big-breadcrumbs items="['Home', '租房申请']" icon="home" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>

</div>

<div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="well well-sm">
            <!-- Timeline Content -->
            <div class="smart-timeline">
                <ul class="smart-timeline-list">
                    <li>
                        <div class="smart-timeline-icon bg-color-greenDark">
                            <i class="fa fa-check-circle"></i>
                        </div>
                        <div class="smart-timeline-time">
                            <small>资格审核</small>
                        </div>
                        <div class="smart-timeline-content">
                            <p>
                                通过
                            </p>
                            
                        </div>
                    </li>
                    <li>
                        <div class="smart-timeline-icon bg-color-greenDark">
                            <i class="fa fa-check-circle"></i>
                        </div>
                        <div class="smart-timeline-time">
                            <small>房型选择</small>
                        </div>
                        <div class="smart-timeline-content">
                            <p>
                                通过
                            </p> 
                        </div>
                    </li>
                    <li>
                        <div class="smart-timeline-icon bg-color-greenDark">
                            <i class="fa fa-check-circle"></i>
                        </div>
                        <div class="smart-timeline-time">
                            <small>选房审批</small>
                        </div>
                        <div class="smart-timeline-content">
                            <p>
                                通过
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="smart-timeline-icon">
                            <i class="fa fa-circle"></i>
                        </div>
                        <div class="smart-timeline-time">
                            <small>租房合同</small>
                        </div>
                        <div class="smart-timeline-content">
                            <p>
                                未通过
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="smart-timeline-icon">
                            <i class="fa fa-circle"></i>
                        </div>
                        <div class="smart-timeline-time">
                            <small>租户入住</small>
                        </div>
                        <div class="smart-timeline-content">
                            <p>
                                未通过
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- END Timeline Content -->
        </div>
    </div>

    <article class="col-sm-8">
        <div jarvis-widget id="normal-table-widget" data-widget-color="blueDark" data-widget-editbutton="false">
            <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>我的申请</h2>
            </header>
            <div>
                <div class="widget-body">

                    <div class="table-responsive">

                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Column name</th>
                                <th>Column name</th>
                                <th>Column name</th>
                                <th>Column name</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Row 1</td>
                                <td>Row 2</td>
                                <td>Row 3</td>
                                <td>Row 4</td>
                            </tr>
                            <tr>
                                <td>Row 1</td>
                                <td>Row 2</td>
                                <td>Row 3</td>
                                <td>Row 4</td>
                            </tr>
                            <tr>
                                <td>Row 1</td>
                                <td>Row 2</td>
                                <td>Row 3</td>
                                <td>Row 4</td>
                            </tr>
                            <tr>
                                <td>Row 1</td>
                                <td>Row 2</td>
                                <td>Row 3</td>
                                <td>Row 4</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
        </div>
    </article>
</div>

    <!-- content -->
    
</div>
	